th {
    background: #BCEBDD;
    padding: 10px 20px;
    border-spacing: 5px 20px;
}
td {
    padding: 10px 20px;
    border-spacing: 5px 20px;
}

.block-1 {
    width: 700px;
}

.odd {
    background-color: #f8df79;
}

.even {
    background-color: #ffc579;
}

table {
    margin: 10px auto;
    color: black;
}