<h3>ng-content</h3>
<ng-content></ng-content>
<p>Привет, а я {{name}}</p>
ng-content, ng-template и ng-container, ViewChild
<h3>ng-template</h3>
<button (click)="changeDay()">{{buttonText}}</button>
<p>Расписание занятий:</p>
<div class="list" *ngIf="!weekend else loading">
    <div *ngFor="let lesson of array; let i = index">
        <p>{{i+1}}. {{lesson.name}}</p>
    </div>
</div>
  
<ng-template #loading>
    <div>Сегодня выходной, отдыхай)</div>
</ng-template>

<div>
    <h3>ng-container</h3>
    <p>Если нам нужен вспомогательный элемент для вложенных структурных директив,то используем ng-container. Это синтаксический элемент, распознаваемый анализатором Angular, не помещает его в DOM.
       А если проще, чтобы избежать создания лишнего div в ng-template, мы можем вместо этого использовать директиву ng-container.</p>
    <ng-container *ngIf="weekend">
        <p>Я тоже отображаюсь, когда выходной</p>
    </ng-container>
</div>  

<div>
    <h3>Использование ViewChild</h3>
    <p>ViewChild обеспечивает возможность доступа к дочернему компоненту и методам вызова или доступа к переменным экземпляра, которые доступны дочернему элементу.</p>
    <p>(Результат выводится в консоль браузера)</p>
</div>

<div>
    <h3>Шаблонные переменные</h3>
    <p>Переменная сounter и ее методы находится в дочернем компоненте, а вызываются они уже из шаблона родительского компонента.</p>
    <p>{{counter}}</p>
</div>

