div {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 5px 10px 5px;
    padding: 5px 5px 15px 5px;
}

.first {
    border: 2px solid palevioletred;
    padding: 5px;
}
.second {
    border: 2px solid greenyellow;
    padding: 5px;
}
.third {
    border: 2px solid rgb(255, 240, 34);
    padding: 5px;
}
.parent {
    border: 2px solid tomato;
    padding: 5px;
}